<div class="login-wrapper">
  <mat-card class="login-card">
    <div class="header">
      <h1>Welcome Back</h1>
      <p>Please sign in to continue</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Enter your email">
        <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Enter your password">
        <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          Password is required.
        </mat-error>
      </mat-form-field>


      <button mat-raised-button color="primary" class="login-btn" [disabled]="loading || form.invalid">
        <div class="btn-content">
          <span>Login</span>
          <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="18" strokeWidth="2"
            class="small-spinner">
          </mat-progress-spinner>
        </div>

      </button>

    </form>
  </mat-card>
</div>