.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f6f8;


  .login-card {
    width: 400px;
    padding: 32px 28px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }

  .header {
    text-align: center;
    margin-bottom: 24px;

    h1 {
      margin: 0;
      font-size: 26px;
      font-weight: 600;
    }

    p {
      margin-top: 6px;
      color: #6f6f6f;
      font-size: 14px;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .full-width {
    width: 100%;
  }

  .login-btn {
    width: 100%;
    height: 48px;
    font-size: 16px;
    margin-top: 6px;
  }

  .btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
  }

  .small-spinner {
    width: 18px !important;
    height: 18px !important;
  }

  .small-spinner {
    width: 25px !important;
    height: 25px !important;
  }

  .error-message {
    color: #d32f2f;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
}